---
import "@fontsource-variable/overpass-mono";
import Graphics from "./graphics/Graphics.astro";
import Line from "./graphics/Line.astro";
const data = [
  `ACE - The Association of Computer Enthusiasts, presents the 5th edition of HackVSIT. We at ACE believe in encouraging the growing talent and by HackVSIT we bring together, people with different outlook and solutions for already existing problems using technology and design. For 24 hours, you will work together with your teams to envision and develop the technology of tomorrow for solving the problems of today.`,
  `This year we come with unparalleled enthusiasm, ready to unveil a series of exciting surprises. With the 5th edition, we are taking the hackathon experience to new heights, offering participants an unforgettable journey of learning, creativity and collaboration. Join us in breaking through the boundaries of innovation and setting the stage for a truly influential event.`,
];
---

<section id="about-us">
  <h1>24.</h1>
  <div class="header">
    <p>HOURS</p>
    <Line top={1} left={8} height={25} rotation={-90} design="primary" />
  </div>
  <div id="info__para">
    <div>{data[0]}</div>
    <div>{data[1]}</div>
  </div>
  <Graphics src="cube" top={35} right={0} alt="cube" />
</section>

<style>
  #about-us {
    position: relative;
    margin-top: 3rem;
    min-height: 40dvh;
    height: auto;
    padding: 0 10dvw;
    font-family: "Overpass Mono Variable", sans-serif;
  }
  .header {
    position: relative;
  }
  #about-us h1 {
    font-size: 10em;
    height: 0.8em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: var(--text-background);
  }
  #about-us h1::selection {
    background: transparent;
  }
  .header > p {
    font-size: 2rem;
    color: var(--text-primary);
    margin-left: 1rem;
  }
  #about-us p::selection {
    background: transparent;
  }
  #info__para {
    color: var(--text-primary);
    font-size: 1.2rem;
    line-height: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 3rem;
    display: flex;
  }
  #info__para > div {
    text-align: justify;
  }
  #info__para *::selection {
    background: var(--text-primary);
  }
  /* media */
  @media screen and (max-width: 600px) {
    #about-us {
      padding: 0 5dvw;
    }
    #about-us h1 {
      font-size: 6rem;
    }
    #info__para {
      flex-direction: column;
      font-size: 1rem;
    }
  }
</style>
