---
import "@fontsource-variable/overpass-mono";
import Graphics from "./graphics/Graphics.astro";
import Line from "./graphics/Line.astro";
type Company = {
  level: "Event-Partner" | "Premium-Sponsor" | "Partner-Sponsor"|"Media-Partners"|"Sustainability-Partner"|"Certificate-Partner";
  data: {
    logo: string;
    name: string;
    link: string;
  }[];
};
const companies: Company[] = [
  {
    level: "Event-Partner",
    data: [
      {
        name: "MLH",
        logo: "sponsors/mlh-logo.png",
        link: "http://mlh.io/"
      }
    ]
  },
  {
    level: "Premium-Sponsor",
    data: [
      {
        name: "DEVFOLIO LOGO",
        logo: "sponsors/devfolio.png",
        link: "https://devfolio.co"
      },
      {
        name: "Digital Ocean",
        logo: "sponsors/DO.png",
        link: "https://www.digitalocean.com/"
      },
      {
        name: "POLYGON LOGO",
        logo: "sponsors/polygon.png",
        link: "https://polygon.technology/"
      }
    ]
  },
  {
    level: "Partner-Sponsor",
    data: [
      {
        name: "rabear.io",
        logo: "sponsors/rabeario.png",
        link: "https://rabear.io/"
      },
      {
        name: "Filecoin",
        logo: "sponsors/filecoin.png",
        link: "https://filecoin.io/"
      },
      {
        name: "Solana",
        logo: "sponsors/solana.png",
        link: "https://solana.com/"
      },
      {
        name: "REPLIT LOGO",
        logo: "sponsors/replit-light.svg",
        link: "https://replit.com/"
      },
      {
        name: "Clerky",
        logo: "sponsors/clerky.png",
        link: "https:///"
      },
      {
        name: "Taskade",
        logo: "sponsors/taskade.png",
        link: "https://www.taskade.com/"
      },
      {
        name: "echo3D",
        logo: "sponsors/echo3D.webp",
        link: "https://www.echo3d.co/"
      },
      {
        name: "Wolfram",
        logo: "sponsors/wolfram-language.png",
        link: "https://www.wolfram.com/"
      },
      {
        name: "Bobble AI",
        logo: "sponsors/bobbleai.png",
        link: "https://www.bobble.ai/en/home"
      }
    ]
  },
  {
    level: "Sustainability-Partner",
    data: [
      {
        name: "Earth Hacks",
        logo: "sponsors/earth_hacks.png",
        link: "https://earthhacks.io/"
      }
    ]
  },
  {
    level: "Certificate-Partner",
    data: [
      {
        name: "Certopus",
        logo: "sponsors/certopus.svg",
        link: "https://certopus.com/"
      }
    ]
  },
  {
    level: "Media-Partners",
    data: [
      {
        name: "NoticeBard",
        logo: "sponsors/noticebard.png",
        link: "https://www.noticebard.com/"
      }
    ]
  }
];
---

<section id="sponsors">
  <h1>16.</h1>
  <div class="header">
    <p>Previous Sponsors</p>
    <Line top={1} left={17} height={20} rotation={-90} design="primary" />
  </div>
  <div class="companies">
    {
      companies.map((company) => {
        return (
          <div class="company">
            <p class="tier">{company.level.split("-").join(" ")}</p>
            <div class="company-logo">
              {company.data.map((item) => {
                return (
                  <img
                    class={`${company.level.toLowerCase()}
                  `}
                    loading="lazy"
                    src={item.logo}
                    alt={item.name}
                  />
                );
              })}
            </div>
          </div>
        );
      })
    }
  </div>

  <style>
    #sponsors {
      position: relative;
      margin-top: 3rem;
      min-height: 60dvh;
      height: auto;
      padding: 5dvh 10dvw;
      font-family: "Overpass Mono Variable", sans-serif;
    }
    .header {
      position: relative;
    }
    .event-partner {
      height: 25vh;
      width: 25vw;
    }
    .premium-sponsor {
      height: 15vh;
      width: 15vw;
    }
    .partner-sponsor,.sustainability-partner,.certificate-partner,.media-partners {
      height: 10vh;
      width: 15vw;
    }
    #sponsors h1 {
      font-size: 10em;
      height: 0.8em;
      font-weight: bold;
      padding: 0;
      margin: 0;
      color: var(--text-background);
    }
    #sponsors h1::selection {
      background: transparent;
    }
    .header > p {
      color: var(--text-primary);
      font-size: 1.5em;
      margin-left: 1dvw;
    }
    #sponsors p::selection {
      background: transparent;
    }
    #sponsors .companies {
      display: flex;
      gap: 2rem;
      margin: 5dvh 0;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #sponsors .company {
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
    }
    .company-logo {
      display: flex;
      flex-wrap:wrap;
      border: 1px solid white;
      width: auto;
      padding: 2rem;
      border-radius: 2rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-left: 1rem;
    }
    .company .tier {
      font-size: 1.25rem;
      color: var(--text-primary);
      margin-left: 1rem;
      padding: 0;
    }
    #sponsors .company img {
      object-fit: contain;
    }
    /* mobile view */
    @media (max-width: 768px) {
      #sponsors {
        padding: 5dvh 5dvw;
      }
      #sponsors h1 {
        font-size: 6rem;
      }
      #sponsors .companies {
        margin: 5dvh 0 2dvh;
        gap: 2rem;
      }
      .company-logo {
        flex-wrap: wrap;
        gap: 1.5rem;
      }
      .event-partner {
        height: auto;
        width: 60vw;
      }
      .premium-sponsor {
        height: auto;
        width: 50vw;
      }
      .partner-sponsor {
        height: 5vh;
        width: 30vw;
      }
      .sustainability-partner,.certificate-partner,.media-partners {
        height: auto;
        width: 40vw;
      }
    }
  </style>
</section>
