---
import "@fontsource-variable/overpass-mono";
import Graphics from "./graphics/Graphics.astro";
import Line from "./graphics/Line.astro";
type Company = {
  level: "Event-Partner" | "Premium-Sponsor" | "Partner-Sponsor"|"Media-partner"|"Sustainability-Partner"|"Certificate-Partner"|"Track-Sponsor"|"Bronze"|"Community-Partner"|"Silver";
  data: {
    logo: string;
    name: string;
    link: string;
  }[];
};
const companies: Company[] = [
  // {
  //   level: "Event-Partner",
  //   data: [
  //     {
  //       name: "MLH",
  //       logo: "sponsors/mlh-logo.png",
  //       link: "http://mlh.io/"
  //     }
  //   ]
  // },
  // {
  //   level: "Premium-Sponsor",
  //   data: [
      
  //     // {
  //     //   name: "Digital Ocean",
  //     //   logo: "sponsors/DO.png",
  //     //   link: "https://www.digitalocean.com/"
  //     // },
      
  //   ]
  // },
  {
    level: "Partner-Sponsor",
    data: [
      {
        name: "DEVFOLIO LOGO",
        logo: "sponsors/devfolio.png",
        link: "https://devfolio.co"
      },
      {
        name: "POLYGON LOGO",
        logo: "sponsors/polygon.png",
        link: "https://polygon.technology/"
      },
      {
        name:"Innobuzz",
        logo:"sponsors/innobuzz.webp",
        link:"https://innobuzz.in/"
      }
      // {
      //   name: "rabear.io",
      //   logo: "sponsors/rabeario.png",
      //   link: "https://rabear.io/"
      // },
      // {
      //   name: "Filecoin",
      //   logo: "sponsors/filecoin.png",
      //   link: "https://filecoin.io/"
      // },
      // {
      //   name: "Solana",
      //   logo: "sponsors/solana.png",
      //   link: "https://solana.com/"
      // },
      // {
      //   name: "REPLIT LOGO",
      //   logo: "sponsors/replit-light.svg",
      //   link: "https://replit.com/"
      // },
      // {
      //   name: "Clerky",
      //   logo: "sponsors/clerky.png",
      //   link: "https:///"
      // },
      // {
      //   name: "Taskade",
      //   logo: "sponsors/taskade.png",
      //   link: "https://www.taskade.com/"
      // },
      // {
      //   name: "echo3D",
      //   logo: "sponsors/echo3D.webp",
      //   link: "https://www.echo3d.co/"
      // },
      // {
      //   name: "Wolfram",
      //   logo: "sponsors/wolfram-language.png",
      //   link: "https://www.wolfram.com/"
      // },
      // {
      //   name: "Bobble AI",
      //   logo: "sponsors/bobbleai.png",
      //   link: "https://www.bobble.ai/en/home"
      // }
    ]
  },
  {
    level: "Silver",
    data: [
      {
        name: "Aldrich",
        logo: "sponsors/aldrich.png",
        link: "https://www.shrigautamgarments.in/"
      }
    ]
  },
  {
    level:"Bronze",
    data:[
      {
        name:"Sublime",
        logo:"sponsors/sublime_text.png",
        link:"https://www.sublimehq.com/"
      },
      {
        name:"Navan Ai",
        logo:"sponsors/navan.svg",
        link:"https://navan.ai/"
      },
      {
        name:"Sybgen",
        logo:"sponsors/SYBGEN.png",
        link:"https://sybgen.com/"
      },
      {
        name:"1password",
        logo:"sponsors/1password.svg",
        link:"https://1password.com/"
      }
    ]
  },
  // {
  //   level: "Certificate-Partner",
  //   data: [
  //     {
  //       name: "Certopus",
  //       logo: "sponsors/certopus.svg",
  //       link: "https://certopus.com/"
  //     }
  //   ]
  // },
  
  {
    level:"Track-Sponsor",
    data:[
      {
        name: "Verbwire",
        logo: "sponsors/verbwire.svg",
        link: "https://www.verbwire.com/"
      },
      {
        name: "REPLIT LOGO",
        logo: "sponsors/replit-light.svg",
        link: "https://replit.com/"
      },
      {
        name:"Atmoz",
        logo:"sponsors/Atmoz.png",
        link:"https://www.atmoz.in/"
      }
    ]
  },
  {
    level:"Community-Partner",
    data:[
      {
        name:"BFCET Hack",
        logo:"sponsors/bfcet.jpg",
        link:"https://www.bfcet.com/hack/"
      },
      {
        name:"Diversion",
        logo:"sponsors/diversion.webp",
        link:"https://www.diversion.tech/"
      },
      {
        name:"DevArmy",
        logo:"sponsors/devarmy.png",
        link:"https://thedevarmy.com/"
      }
    ]
  },
  {
    level: "Sustainability-Partner",
    data: [
      {
        name: "Earth Hacks",
        logo: "sponsors/earth_hacks.png",
        link: "https://earthhacks.io/"
      }
    ]
  },
  {
    level: "Media-partner",
    data: [
      {
        name: "Youth Inc",
        logo: "sponsors/youthinc.png",
        link: "https://youthincmag.com/"
      }
    ]
  }
];
---

<section id="sponsors">
  <h1>16.</h1>
  <div class="header">
    <p>Sponsors</p>
    <Line top={1} left={17} height={20} rotation={-90} design="primary" />
  </div>
  <div class="companies">
    {
      companies.map((company) => {
        return (
          <div class="company">
            <p class="tier">{company.level.split("-").join(" ")}</p>
            <div class="company-logo">
              {company.data.map((item) => {
                return (
                  <img
                    class={`${company.level.toLowerCase()}
                  `}
                    loading="lazy"
                    src={item.logo}
                    alt={item.name}
                  />
                );
              })}
            </div>
          </div>
        );
      })
    }
  </div>

  <style>
    #sponsors {
      position: relative;
      margin-top: 3rem;
      min-height: 60dvh;
      height: auto;
      padding: 5dvh 10dvw;
      font-family: "Overpass Mono Variable", sans-serif;
    }
    .header {
      position: relative;
    }
    .event-partner {
      height: 25vh;
      width: 25vw;
    }
    .premium-sponsor {
      height: 18vh;
      width: 18vw;
    }
    .partner-sponsor{
      height: 15vh;
      width: 15vw;
    }
    .sustainability-partner,.track-sponsor,.certificate-partner,.media-partner,.silver,.bronze{
      height: 10vh;
      width: 15vw;
    }
    .community-partner{
      height: 10vh;
      width: 10vw;
    }
    #sponsors h1 {
      font-size: 10em;
      height: 0.8em;
      font-weight: bold;
      padding: 0;
      margin: 0;
      color: var(--text-background);
    }
    #sponsors h1::selection {
      background: transparent;
    }
    .header > p {
      color: var(--text-primary);
      font-size: 1.5em;
      margin-left: 1dvw;
    }
    #sponsors p::selection {
      background: transparent;
    }
    #sponsors .companies {
      display: flex;
      gap: 2rem;
      margin: 5dvh 0;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
    }
    #sponsors .company {
      width: auto;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
    }
    .company-logo {
      display: flex;
      flex-wrap:wrap;
      border: 1px solid white;
      width: auto;
      padding: 2rem;
      border-radius: 2rem;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      margin-left: 1rem;
    }
    .company .tier {
      font-size: 1.25rem;
      color: var(--text-primary);
      margin-left: 1rem;
      padding: 0;
    }
    #sponsors .company img {
      object-fit: contain;
    }
    /* mobile view */
    @media (max-width: 768px) {
      #sponsors {
        padding: 5dvh 5dvw;
      }
      #sponsors h1 {
        font-size: 6rem;
      }
      #sponsors .companies {
        margin: 5dvh 0 2dvh;
        gap: 2rem;
      }
      .company-logo {
        flex-wrap: wrap;
        gap: 1.5rem;
      }
      .event-partner {
        height: auto;
        width: 60vw;
      }
      .premium-sponsor {
        height: auto;
        width: 50vw;
      }
      .partner-sponsor {
        height: 5vh;
        width: 30vw;
      }
      .sustainability-partner,.track-sponsor,.certificate-partner,.media-partner,.silver,.bronze,.community-partner {
        height: auto;
        width: 40vw;
      }
    }
  </style>
</section>
