---
import Card from "./card/MembersCard.astro";
import Graphics from "./graphics/Graphics.astro";
import "@fontsource-variable/overpass-mono";
import { type TeamType } from "../pages/team.astro";

const { data:TeamData } = Astro.props as { data: TeamType[] };
---

<section id="Teams">
  <p>OUR TEAM</p>
  <!-- <Graphics src="cubes" top={100} left={-15} alt="cloud" />
  <Graphics src="cube" top={50} right={-10} alt="cloud" /> -->

  <div id="Team_Members">
    {
      TeamData.map((team) => (
        <Card
          name={team.name}
          src={team.src}
          alt={team.name}
          socials={team.socials}
        />
      ))
    }
  </div>
</section>

<style>
  #Teams {
    position: relative;
    min-height: 50dvh;
    height: auto;
    margin: 25dvh 10dvw;
    font-family: "Overpass Mono Variable", monospace;
  }
  #Teams h1 {
    font-size: 10em;
    height: 0.8em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: var(--text-background);
  }
  #Teams h1::selection {
    background: transparent;
  }
  #Teams p {
    color: var(--text-primary);
    font-size: 1.5em;
    margin-top: 2rem;
    margin-left: 1rem;
  }
  #Teams #who {
    color: var(--text-primary);
    float: right;
    margin: 0;
  }
  #Teams p::selection {
    background: transparent;
  }
  #Team_Members {
    display: grid;
    height: auto;
    width: 100%;
    padding: 2dvh 0;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 2rem;
  }
  @media only screen and (max-width: 1000px) {
    #Teams {
      margin: 0 5dvw;
    }
    #Team_Members {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media only screen and (max-width: 600px) {
    #Teams {
      margin: 10vh 5dvw;
    }
    #Teams p {
      display: none;
    }
    #Team_Members {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
