---
interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Ace-logo-large.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script defer async src="https://apply.devfolio.co/v2/sdk.js"></script>
  </body>
</html>
<style is:global>
  :root {
    --text-primary: #fff;
    --text-secondary: #999;
    --text-background: #292929;
    --primary-dark: #212121;
    --accent-primary: #03d9fe;
    --accent-dark: 49, 10, 101;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--primary-dark);
    scroll-behavior: smooth;
    }
  
  /* add custom scrollbar */
  body::-webkit-scrollbar {
    width: 0rem;
  }
  body {
    overflow-x: hidden;
    margin: 0;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
