---
import "@fontsource-variable/overpass-mono";
---

<footer id="footer">
  <div class="footer__container">
    <div class="footer__upper">
      <div class="footer__logo-section">
        <div class="footer__logo">
          <div id="hackvsit">HackVSIT <span>5.0</span></div>
        </div>
        <div>
          Made with <span style="color: red;">&hearts;</span> by
          <a href="https://vipsace.org/" target="_blank">ACE</a>
        </div>
        <div class="footer__cta">
          <button>Sponsor Us</button>
          <a href="https://discord.gg/zZNrgktFzP" target="_blank">
            <button><img src="/discord.svg" alt="discord" /></button>
          </a>
        </div>
      </div>
      <div class="footer__quicklinks">
        <h1>Quick Links</h1>
        <div>Themes</div>
        <div>Prizes</div>
        <a href="#about-us">
          <div>About us</div>
        </a>
        <a href="#faq">
          <div>FAQ</div>
        </a>
      </div>
      <div class="footer__socials">
        <h1>Socials</h1>
        <div>
          <a href="https://www.instagram.com/acevips/">
            <img src="/socials/instagram.svg" alt="instagram" />
          </a>
          <a href="https://www.facebook.com/vipsace/">
            <img src="/socials/facebook.svg" alt="facebook" />
          </a>
          <a href="https://twitter.com/VIPS_ACE">
            <img src="/socials/twitter.svg" alt="twitter" />
          </a>
          <a href="https://www.linkedin.com/company/vipsace/mycompany/">
            <img src="/socials/linkedin.svg" alt="linkedin" />
          </a>
          <a href="https://vipsace.org/">
            <img src="/socials/website.svg" alt="website" />
          </a>
        </div>
      </div>
      <div class="footer__register">
        <h1>Register</h1>
        <div>As a team</div>
        <div>As an individual</div>
      </div>
    </div>
    <div id="divider"></div>
    <div class="footer__bottom">
      Copyright 2024 HackVSIT 5.0. Made with <span style="color: red;"
        >&hearts;</span
      > by
      <a href="https://vipsace.org/">ACE .</a>
       Developed by <a href="https://www.kanishkrawatt.tech/" target=" _blank"
        >Kanishk Rawat.</a
      >
    </div>
  </div>
</footer>

<style>
  #footer {
    padding: 20px 0;
    min-height: 30dvh;
    height: auto;
    font-family: "Overpass Mono", monospace;
    font-size: 12px;
    color: var(--text-secondary);
    margin: 20dvh 10dvw 0;
  }
  #footer *::selection {
    background: transparent;
  }
  #divider {
    width: 100%;
    height: 7dvh;
    background: url("/footer-line.svg") no-repeat center;
    background-size: contain;
  }
  .footer__container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .footer__upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 80%;
  }
  .footer__logo-section {
    display: flex;
    flex-direction: column;
    height: 15dvh;
    width: 30%;
  }
  .footer__logo {
    display: flex;
    flex-direction: column;
    font-family: "Russo One", sans-serif;
    color: var(--text-primary);
    letter-spacing: 0.2rem;
    font-size: 5dvh;
    font-weight: bold;
  }
  .footer__logo span {
    color: var(--primary-dark);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--text-primary);
  }
  .footer__logo-section:nth-child(1) {
    display: flex;
    font-size: 2dvh;
    margin: 0.5rem 0;
    flex-direction: column;
  }
  .footer__logo-section:nth-child(1) a {
    color: var(--text-primary);
    text-decoration: none;
  }
  .footer__cta {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
  }
  .footer__cta button {
    padding: 0.3rem 2rem;
    position: relative;
    font-family: "Overpass Mono Variable", sans-serif;
    font-size: 1rem;
  }
  .footer__cta > button:nth-child(1) {
    color: var(--primary-dark);
    background: var(--accent-primary);
    border: none;
    margin-right: 1rem;
  }
  .footer__cta button::after {
    content: "";
    position: absolute;
    height: 100%;
    top: -4px;
    left: -4px;
    padding: 4px;
    width: 100%;
    border: white solid 1px;
  }
  .footer__cta button img {
    height: 4dvh;
    width: 4dvh;
  }
  .footer__quicklinks {
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
  }
  .footer__quicklinks h1 {
    font-size: 2dvh;
    color: var(--text-primary);
    margin-bottom: 1rem;
  }
  .footer__quicklinks div {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .footer__quicklinks a {
    color: var(--text-secondary);
    text-decoration: none;
  }
  .footer__socials {
    display: flex;
    height: 100%;
    width: 10dvw;
    flex-direction: column;
  }
  .footer__socials h1 {
    font-size: 2dvh;
    color: var(--text-primary);
    margin-bottom: 1rem;
  }
  .footer__socials div {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .footer__socials div img {
    height: 3dvh;
    margin-bottom: 0.5rem;
    width: 3dvh;
  }
  .footer__register {
    display: flex;
    height: 100%;
    width: 20%;
    flex-direction: column;
  }
  .footer__register h1 {
    font-size: 2dvh;
    color: var(--text-primary);
    margin-bottom: 1rem;
  }
  .footer__register div {
    margin-bottom: 0.5rem;
    font-size: 1rem;
  }
  .footer__bottom {
    margin-top: 2rem;
    font-size: 1rem;
  }
  .footer__bottom a {
    color: var(--text-primary);
    text-decoration: none;
  }
  h1 ~ div {
    cursor: pointer;
  }
  /* mobile view */
  @media screen and (max-width: 600px) {
    .footer__register {
      display: none;
    }
    .footer__quicklinks {
      display: none;
    }
    .footer__logo {
      font-size: 2rem;
    }
    .footer__logo-section:nth-child(1) {
      font-size: 0.8rem;
    }
    .footer__upper {
      flex-direction: column;
    }
    .footer__cta button {
      position: relative;
      font-family: "Overpass Mono Variable", sans-serif;
      font-size: 0.8rem;
    }
    .footer__cta button img {
      height: 2rem;
      width: 2rem;
    }
    .footer__socials h1 {
      font-size: 1rem;
    }
    .footer__logo-section {
      width: 100%;
      height: auto;
    }
    .footer__socials {
      width: 100%;
    }
    .footer__socials div {
      flex-direction: row;
    }
    .footer__bottom {
      font-size: 0.6rem;
      line-height: 1rem;
      margin-top: 0;
    }
  }
</style>
